* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1d4ed8;
    padding: 32px;
}

.welcome {
    color: white;
    text-align: center;
    margin-bottom: 32px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 32px;
    margin-bottom: 64px;
}

.card {
    display: grid;
    grid-template-rows: 3.5rem 3.5fr 1fr 1fr;
    align-items: center;
    background-color: #fef3c7;
    border-radius: 8px;
    width: 400px;
    height: 250px;
    padding: 16px;
    font-size: 1.5rem;
    box-shadow: 3px 3px 3px #f5f5f4;
}

.title {
    font-weight: bold;
}

.title,
.author {
    height: 3.5rem;
    overflow: auto;
}

.author {
    padding-left: 32px;
}

.cardFooter {
    display: flex;
    justify-content: space-between;
}

.card button {
    padding: 4px;
}

.addDialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
}

form {
    display: grid;
    gap: 16px;
}

.formItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="text"],
input[type="number"] {
    border: none;
    background-color: #bfdbfe;
    padding: 8px;
}

form>div {
    display: flex;
    justify-content: space-evenly;
}

form button {
    padding: 8px;
}

.btnContainer {
    text-align: center;
}

.addBtn {
    padding: 16px;
    border: none;
    border-radius: 32px;
    cursor: pointer;
}

.inputdiv * {
    display: block;
}

input:invalid {
    background-color: #fdd;
}

.error {
    width: 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;

    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}